<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Add Todo</title>
    <script src="script.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        .btn:focus,
        .btn:active,
        input:focus,
        input:active {
            outline: none !important;
            box-shadow: none;
        }
    </style>
    <link rel="shortcut icon" href="/favicon" type="image/x-icon">
</head>

<body>
    <div class="container todos">

        <div class="align-items-center h-100">
            <div class="header col-md-12">

                <h1 class="text-center my-2" style="color: rgb(255, 81, 0);">Add Todos Details
            </div>
            <hr>
            <br>

            <form class="row g-3" method="POST" action="/create">

                <div class="col-md-12 text-center d-center">
                    <label for="date" class="form-label fs-4">DATE</label>


                    <input type="date" class="form-control shadow-none" id="date" name="id" required>


                </div>

                <hr>
                <span class="badge bg-secondary">FIll TODOS DETAILS</span>

                <div class="col-md-3">
                    <label for="s1_from" class="form-label">From</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s1_from" name="s1_from" required>

                </div>
                <div class="col-md-3">
                    <label for="s1_to" class="form-label">To</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s1_to" name="s1_to" required>

                </div>


                <div class="col-md-3">
                    <label for="s1_title" class="form-label">Name of Todo</label>
                    <input type="text" class="form-control shadow-none" id="s1_title" name="s1_title"
                        placeholder="Go to..." required>

                </div>
                <div class="col-md-3">
                    <label for="s1_dec" class="form-label">Description</label>
                    <input type="text" class="form-control shadow-none" id="s1_dec" name="s1_dec" placeholder="89"
                        required>

                </div>
                <hr>
                <!-- 2nd -->
                <div class="col-md-3">
                    <label for="s2_from" class="form-label">From</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s1_from" name="s2_from">

                </div>
                <div class="col-md-3">
                    <label for="s1_to" class="form-label">To</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s1_to" name="s2_to">

                </div>


                <div class="col-md-3">
                    <label for="s1_title" class="form-label">Name of Todo</label>
                    <input type="text" class="form-control shadow-none" id="s1_title" name="s2_title"
                        placeholder="Go to Study Js">

                </div>
                <div class="col-md-3">
                    <label for="s1_dec" class="form-label">Description</label>
                    <input type="text" class="form-control shadow-none" id="s1_dec" name="s2_dec"
                        placeholder="Js Array...">

                </div>
                <hr>

                <!-- 3rd -->
                <div class="col-md-3">
                    <label for="s1_from" class="form-label">From</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s3_from" name="s1_from">

                </div>
                <div class="col-md-3">
                    <label for="s1_to" class="form-label">To</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s3_to" name="s1_to">

                </div>


                <div class="col-md-3">
                    <label for="s1_title" class="form-label">Name of Todo</label>
                    <input type="text" class="form-control shadow-none" id="s1_title" name="s3_title"
                        placeholder="Go to Study Js">

                </div>
                <div class="col-md-3">
                    <label for="s1_dec" class="form-label">Description</label>
                    <input type="text" class="form-control shadow-none" id="s1_dec" name="s3_dec"
                        placeholder="Js Array...">

                </div>
                <hr>
                <!-- 4th -->

                <div class="col-md-3">
                    <label for="s1_from" class="form-label">From</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s3_from" name="s4_from">

                </div>
                <div class="col-md-3">
                    <label for="s1_to" class="form-label">To</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s3_to" name="s4_to">

                </div>


                <div class="col-md-3">
                    <label for="s1_title" class="form-label">Name of Todo</label>
                    <input type="text" class="form-control shadow-none" id="s1_title" name="s4_title"
                        placeholder="Go to Study Js">

                </div>
                <div class="col-md-3">
                    <label for="s1_dec" class="form-label">Description</label>
                    <input type="text" class="form-control shadow-none" id="s1_dec" name="s4_dec"
                        placeholder="Js Array...">

                </div>


                <hr>
                <div class="col-md-3">
                    <label for="s1_from" class="form-label">From</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s4_from" name="s5_from">

                </div>
                <div class="col-md-3">
                    <label for="s1_to" class="form-label">To</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s1_to" name="s5_to">

                </div>


                <div class="col-md-3">
                    <label for="s1_title" class="form-label">Name of Todo</label>
                    <input type="text" class="form-control shadow-none" id="s1_title" name="s5_title"
                        placeholder="Go to Study Js">

                </div>
                <div class="col-md-3">
                    <label for="s1_dec" class="form-label">Description</label>
                    <input type="text" class="form-control shadow-none" id="s1_dec" name="s5_dec"
                        placeholder="Js Array...">

                </div>
                <hr>


                <div class="col-md-3">
                    <label for="s1_from" class="form-label">From</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s6_from" name="s6_from">

                </div>
                <div class="col-md-3">
                    <label for="s1_to" class="form-label">To</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s7_to" name="s6_to">

                </div>


                <div class="col-md-3">
                    <label for="s1_title" class="form-label">Name of Todo</label>
                    <input type="text" class="form-control shadow-none" id="s1_title" name="s6_title"
                        placeholder="Go to Study Js">

                </div>
                <div class="col-md-3">
                    <label for="s1_dec" class="form-label">Description</label>
                    <input type="text" class="form-control shadow-none" id="s1_dec" name="s6_dec"
                        placeholder="Js Array...">

                </div>
                <hr>
                <div class="col-md-3">
                    <label for="s1_from" class="form-label">From</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s7_from" name="s7_from">

                </div>
                <div class="col-md-3">
                    <label for="s1_to" class="form-label">To</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s7_to" name="s7_to">

                </div>


                <div class="col-md-3">
                    <label for="s1_title" class="form-label">Name of Todo</label>
                    <input type="text" class="form-control shadow-none" id="s1_title" name="s7_title"
                        placeholder="Go to Study Js">

                </div>
                <div class="col-md-3">
                    <label for="s1_dec" class="form-label">Description</label>
                    <input type="text" class="form-control shadow-none" id="s1_dec" name="s7_dec"
                        placeholder="Js Array...">

                </div>

                <hr>
                <div class="col-md-3">
                    <label for="s1_from" class="form-label">From</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s1_from" name="s8_from">

                </div>
                <div class="col-md-3">
                    <label for="s1_to" class="form-label">To</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s1_to" name="s8_to">

                </div>


                <div class="col-md-3">
                    <label for="s1_title" class="form-label">Name of Todo</label>
                    <input type="text" class="form-control shadow-none" id="s1_title" name="s8_title"
                        placeholder="Go to Study Js">

                </div>
                <div class="col-md-3">
                    <label for="s1_dec" class="form-label">Description</label>
                    <input type="text" class="form-control shadow-none" id="s1_dec" name="s8_dec"
                        placeholder="Js Array...">

                </div>

                <hr>
                <div class="col-md-3">
                    <label for="s1_from" class="form-label">From</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s1_from" name="s9_from">

                </div>
                <div class="col-md-3">
                    <label for="s1_to" class="form-label">To</label>
                    <input type="datetime-local" class="form-control shadow-none" id="s1_to" name="s9_to">

                </div>


                <div class="col-md-3">
                    <label for="s1_title" class="form-label">Name of Todo</label>
                    <input type="text" class="form-control shadow-none" id="s1_title" name="s9_title"
                        placeholder="Go to Study Js">

                </div>
                <div class="col-md-3">
                    <label for="s1_dec" class="form-label">Description</label>
                    <input type="text" class="form-control shadow-none" id="s1_dec" name="s9_dec"
                        placeholder="Js Array...">

                </div>

                <div class="col-12">
                    <button class="btn btn-success shadow-none" type="submit">Add Todo</button>
                </div>
                <div class="m-4">

                </div>
            </form>
        </div>
    </div>
</body>

</html>