<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon" type="image/x-icon">
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        .btn:focus,
        .btn:active,
        input:focus,
        input:active {
            outline: none !important;
            box-shadow: none;
        }
    </style>
</head>

<body>
    <div class="container my-4">
        <div class="alert alert-danger" role="alert">
            Please Enter valid ID/date
        </div>

        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body text-center">
           
                  <a href="/" class="btn btn-primary">Search</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body text-center">
                 
                  <a href="/add" class="btn btn-primary">Add Todo</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</body>

</html>